@import "tailwindcss";

body {
  @apply bg-slate-950 font-serif selection:bg-black selection:text-green-500;
}

#links {
  @apply bg-gradient-to-r bg-clip-text from-sky-400 to-cyan-300 text-transparent text-base
  transition duration-300 hover:opacity-80;
}

#buttons {
  @apply bg-gradient-to-r text-white font-semibold from-sky-600 to-cyan-500
  rounded-2xl shadow-cyan-500 shadow-sm
  transition duration-300 hover:opacity-90
  border border-sky-500/20 cursor-pointer
  px-5 h-10 flex items-center gap-2;
}

.btn {
  @apply bg-gradient-to-r text-white font-semibold from-sky-600 to-cyan-500
  rounded-2xl shadow-cyan-500 shadow-sm
  transition duration-300 hover:opacity-90
  border border-sky-500/20 cursor-pointer
  px-6 h-10;
}

label {
  @apply text-white font-bold;
}

input {
  @apply w-full border text-white border-sky-500/20 bg-white/5 h-10
  rounded-2xl px-4
  placeholder:text-white/50 placeholder:text-sm
  focus:ring-1 focus:ring-sky-400/50 focus:border-sky-400/30
  outline-none duration-300 transition ease-in-out;
}

textarea {
  @apply w-full border border-sky-600/20 bg-white/5
  rounded-2xl px-4 py-3 text-white
  placeholder:text-white/50 placeholder:text-sm
  focus:ring-1 focus:ring-sky-500/50 focus:border-sky-500/30
  outline-none duration-300 transition ease-in-out resize-none;
}